body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('lost.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    background-color: #ffffffd3;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

label,
input,
textarea,
button {
    display: block;
    margin: 10px 0;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button.found {
    background-color: #3498db;
}

button.found:hover {
    background-color: #2980b9;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #ecf0f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #d2d7db;
}

.status {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold;
    color: #333;
}

li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#description {
    width: 100%;
}
.hoe{
    font-size: 30px;
    transition: all 0.5s;
}
.hoe:hover{
    font-size: 35px;
}
